.card
{
    width: 18rem;
    margin-top: 2rem;
    margin-left: 3.5rem;
}
.btns
{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.admintag
{
    margin-left: 2rem;
}
.logoutbtn
{
    border: none;
    background: none;
}
.cartbtn
{
        display: block;
        width: 45%;
        padding: 0.1rem;
        background-color: #C73659;
        color: #fff;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
}
.buybtn
{
        display: block;
        width: 40%;
        padding: 0.1rem;
        background-color: #C73659;
        color: #fff;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
}
.buybtn:hover ,.cartbtn:hover 
{
    background-color: #A91D3A;
}
.view
{
    margin-left: 21rem;
    display: block;
    width: 8rem;
    padding: 0.1rem;
    background-color: #C73659;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}